GITHUB_PAT=token1,token2
WEBHOOK_URL=https://your-webhook-endpoint.example.com/webhook
WEBHOOK_SECRET=your_webhook_secret_key
REPO_OWNER=owner1,owner2
DRY_RUN=false
REDIS_URL=redis://redis.home.coolkev.com:6379
